<!DOCTYPE html>
<html>
<head>
    <title>Add Product</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>
<h2>Enter Product Details </h2>
<form action="/new" method="POST">
    <p>
        <label for="comicNum">Comic Number     :
        </label><input type="text" name="comicNum"/> <br>
        <label for="comment">Author Comment   :
        </label><input type="text" name="comment"/> <br>
        <label for="published">Published? :
        </label><input type="number" name="published"/> <br>
        <input type="submit"/>
    </p>
</form>
</body>