<!doctype html>
<html>
<head>
    <title>Agent Bishop - Admin</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
    <h1></span>Agent Bishop Admin</h1>
    <a href="addComic">Add Comic</a>
    <!--<a href="editComic">Edit Comic</a>-->

    <% myComicList.forEach(function( comic) { %>

        <% var comicURL = "/images/AgentBishop_" + comic.comicNum + ".jpg";%>
        <li><img src = "<%=comicURL%>"></li>

    <form action="/editComment" method="POST">
        <label for="comicNum">Comic Number     :
        </label><input type="text" name="comicNum" value="<%= comic.comicNum %>"/> <br>
        <label for="comment">Author Comment   :
        </label><input type="text" name="comment" value="<%= comic.comment %>"/> <br>
        <label for="published">Published? :
        </label><input type="text" name="published" value ="<%= comic.published %>"/> <br>
        <!--<input type="submit"/>-->

        <% }) %>
    </form>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
</div>

</body>
</html>