<!doctype html>
<html>
<head>
    <title>Agent Bishop - Admin</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
    <h1></span>Agent Bishop Admin</h1>
    <a href="addComic">Add Comic</a>
    <!--<a href="editComic">Edit Comic</a>-->

    <% myComicList.forEach(function( comic) { %>
    <ul>
        <li><%= comic.comicNum %></li>
        <% var comicURL = "/images/AgentBishop_" + comic.comicNum + ".jpg";%>
        <li><img src = "<%=comicURL%>"></li>
        <li><textarea><%=comic.comment%></textarea></li>
    </ul>
        <% }) %>

    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
</div>

</body>
</html>