<!doctype html>
<% var imgNum = url.substring(2,6);
    if (imgNum == ""){
        imgNum = "0004";
    }
    var comicImg = "/images/AgentBishop_" + imgNum + ".jpg";
    var nextNumURL = "/?000" + (Number(imgNum) + 1);
    var prevNumURL = "/?000" + (Number(imgNum) - 1);
%>
<html>
<head>
    <title>Agent Bishop</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
    <h1></span>Agent Bishop <%= imgNum %></h1>
    <a href="/admin">Admin</a>
    <% if(Number(imgNum) > 1) { %>
    <a href="<%= prevNumURL%>" class="btn btn-default btn-large"><</a>
    <% } %>

    <img src="<%= comicImg%>">
    <% if(Number(imgNum) < 4) { %>
    <a href="<%= nextNumURL%>" class="btn btn-default btn-large">></a>
    <% } %>
</div>

</body>
</html>